/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
        background-color: white;
    }

.alegria {
    background-color: aquamarine;
}

.raiva {
    background-color: #FC7300;
}

.nojo {
    background-color: #BFDB38;
}

.medo {
    background-color: #4A47A3;
    color: white;
}

.tristeza {
    background-color: #00425A;
}

.surpresa {
    background-color: #AD62AA;
}


